@model IEnumerable<ItemApp.Models.P21Item>

@{
    ViewData["Title"] = "SearchItem";
}

<div class="row">
    <div class="col-md-10">
        <form asp-action="SearchItem" asp-controller="ItemMaster">
            <p>
                <input type="text" name="searchString" autofocus placeholder="Item Search" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>

@foreach (var item in Model)
{
<div class="card">
    <div class="card-header">
        <span><a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.ItemID)</a></span>
        <span style="float:right">
            <a asp-action="AddImage" asp-route-P21ItemID="@item.ID"><i style="font-size:larger" class="bi bi-card-image"></i></a>
        </span>
    </div>
    <div class="card-body">
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        <p>@Html.DisplayFor(modelItem => item.ExtendedDescription)</p>
    </div>
    <div class="card-footer">
        <span>@Html.DisplayFor(modelItem => item.PrimaryBin)</span>
    </div>
</div>
}

