@model IEnumerable<ItemApp.Models.P21Item>

@{
    ViewData["Title"] = "SearchBin";
}

<div class="row">
    <div class="col-md-10">
        <form asp-action="SearchBin" asp-controller="ItemMaster">
            <p>
                <input type="text" name="searchString" autofocus placeholder="Bin Search" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            <span><a asp-action="Details" asp-route-id="@item.inv_mast_uid">@Html.DisplayFor(modelItem => item.ItemID)</a></span>
            <span style="float:right">
                <a asp-action="AddImage" asp-route-P21ItemID="@item.inv_mast_uid"><i style="font-size:larger" class="bi bi-card-image"></i></a>
            </span>
        </div>
        <div class="card-body">
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p>@Html.DisplayFor(modelItem => item.ExtendedDescription)</p>
        </div>
        <div class="card-footer">
            <span>@Html.DisplayFor(modelItem => item.PrimaryBin)</span>
        </div>
    </div>
}
